aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
asttokens
attrs
certifi
cffi
charset-normalizer
click
cryptography
cuda-bindings
cuda-pathfinder
cuda-toolkit
decorator
distro
docstring_parser
executing
fastuuid
filelock
frozenlist
fsspec
google-api-core
google-auth
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-genai
google-resumable-media
googleapis-common-protos
grpc-google-iam-v1
grpcio
grpcio-status
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
igraph
importlib_metadata
ipython
ipython_pygments_lexers
jedi
Jinja2
jiter
joblib
jsonpickle
jsonschema
jsonschema-specifications
leidenalg
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mpmath
multidict
nest-asyncio
networkx
numpy
nvidia-cublas
nvidia-cuda-cupti
nvidia-cuda-nvrtc
nvidia-cuda-runtime
nvidia-cudnn-cu13
nvidia-cufft
nvidia-cufile
nvidia-curand
nvidia-cusolver
nvidia-cusparse
nvidia-cusparselt-cu13
nvidia-nccl-cu13
nvidia-nvjitlink
nvidia-nvshmem-cu13
nvidia-nvtx
ollama
openai
packaging
parso
pexpect
prompt_toolkit
propcache
proto-plus
protobuf
ptyprocess
pure_eval
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-ai
pydantic_core
Pygments
python-dateutil
python-dotenv
pyvis
PyYAML
referencing
regex
requests
rich
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
six
sniffio
stack-data
sympy
tenacity
texttable
threadpoolctl
tiktoken
tokenizers
torch
tqdm
traitlets
transformers
triton
typer
typing-inspection
typing_extensions
urllib3
wcwidth
websockets
yarl
zipp
